[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
async-vk-bot = {editable = true, path = "."}

[dev-packages]
pytest = "*"
pytest-trio = "*"
pytest-cov = "*"

[requires]
python_version = "3.7"
