[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
trio = "*"
asks = "*"
async-vk-api = {editable = true, path = "D:/mystuff/projects/async-vk-api"}

[dev-packages]

[requires]
python_version = "3.7"
