[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
trio = "*"
asks = "*"
async-vk-api = {editable = true, git = "https://github.com/Suenweek/async-vk-api"}

[dev-packages]
async-vk-bot = {editable = true, path = "."}

[requires]
python_version = "3.7"
